.VerticalLine {
  border: 0.5px solid #333333;
  width: 0.1px;
  height: 30px;
}

.commentLine {
  border: none;
  border-bottom: solid 1.5px #333333;
  padding: 12px 4px;
  width: 100%;
}

.profileImage {
  border: 0.5px solid lightgray;
  border-radius: 50px;
  width: auto;
  height: auto;
}
